@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    section {
        @apply w-full p-8;
    }

    .contain {
        @apply w-full p-8;
    }

    .container {
        @apply max-w-5xl mx-auto;
    }
}

:root {
    --progress-width: 0;
    --buffered-width: 0;
    --buffered-left: 0;
}

.noise {
    background: rgba(137, 139, 150, 0.501);
    background-image: url(/noise.png);
}

.menu-close p {
    color: #000;
    cursor: pointer;
}

.menu-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p {
    font-size: 100px;
    -webkit-text-stroke: #c5fb45;
    line-height: 70%;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
    position: relative;
}
.menu-link-item-holder a {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
}

.menu-info {
    display: flex;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 900px) {
    .menu-close-icon {
        display: none;
    }

    .menu-link-item-holder a {
        font-size: 60px;
    }
}

.progress-bar::-moz-range-thumb {
    z-index: 4;
    position: relative;
}

.progress-bar::before {
    transform: scaleX(var(--progress-width));
    z-index: 3;
}

.progress-bar::after {
    transform: scaleX(var(--buffered-width));
    transform-origin: left;
    z-index: 2;
}

.markdown {
    & h3 {
        font-size: 30px;
        color: rgb(55 65 81);
    }
    & h4 {
        font-size: 24px;
        color: rgb(55 65 81);
        padding: 10px 0px 10px 0px;
    }
    & p {
        margin: 0.5em 0em 0.5em 0em;
    }
    & ul {
        padding: 10px 0px 10px 20px;
        list-style: disc;
        & li {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 10px;
        }
    }
}
